/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();


$my-primary: mat.define-palette(mat.$green-palette, 500);
$my-accent: mat.define-palette(mat.$light-green-palette, 300);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

/*.card-class {
  margin: 3%;
  width: 28%;
  text-align: left;
  float: left;
  max-width: 400px;
}*/





html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
